{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>Join the part revolution!</h1>
    <p>Sign up and contribute to the next generation of assemblies.</p>
    <p><a class="btn btn-primary btn-large">Sign up using Facebook &raquo;</a></p>
  </div>

  <div class="body-content">

    <!-- Example row of columns -->
    <div class="row">
      <div class="col-lg-4">
        <div class="row">
          <h2>Latest Parts</h2>
        </div>
        <div class="row">
          <div class="col-lg-11">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="row">
          <h2>Latest Assemblies</h2>
        </div>
        <div class="row">
          <div class="col-lg-11">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="row">
          <h2>Latest Reviews</h2>
        </div>
        <div class="row">
          <div class="col-lg-11">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
          </div>
        </div>
      </div>
    </div>

    <hr>

      <footer>
        <p>&copy; hrobeers.be 2013</p>
      </footer>
  </div>

{% endblock %}
